* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    color: #ffff;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 10%;
    z-index: 2;
}

header img {
    width: 120px;
}

header nav {
    width: 100%; /* Ocupa toda a largura da tela */
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 200px);
}

header nav ul li {
    font-size: 16px;
    font-weight: 800;
}

header nav ul li:hover {
    color: #beff1b;
    cursor: pointer;
    font-size: 18px;
    transition: .2s;
}

main section {
    background-image: radial-gradient(#470964, #6d00d9);
    height: 100vh;
    position: relative;
}

main section .list {
    width: 70vw;
    height: 100%;
    margin: auto;
    position: relative;
}

main section .list .item {
    position: absolute;
    inset: 0;
}

main section .list .item .car-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
}

main section .list .item .car-img img {
    width: 100%;
    transform: rotate(-30deg);
}

main section .list .item .car-img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 250px; /* ou tente 50% */
    left: 80px;
    background-color: rgb(0, 0, 0);
    border-radius: 40%;
    filter: blur(80px);
}

main section .list .item .content {
    position: absolute;
    right: 100px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 20px;
}

main section .list .item .content .car-information {
    font-weight: bold;
}

main section .list .item .content h2 {
    font-size: 8em;
    line-height: 1em;
    font-family: "League Gothic", sans-serif;
}

main section .list .item .content .description {
    color: #d9d9d9;
    font-size: 12px;
    text-align: right;
    max-width: 400px;
}

main section .list .item .content .information {
    border-radius: 30px;
    height: 35px;
    width: 120px;
    text-transform: uppercase;
    border: 2px solid #791fd3;
    background-color: #beff1b;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-family: "League Gothic", sans-serif;
}

main section .list::before {
    content: '';
    position: absolute;
    height: 200px;
    width: 100%;
    top: 50%;
    border-top: 1px solid #fff;
}

main section .arrows {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25px);
    display: flex;
    justify-content: space-between;
}

main section .arrows button:nth-child(1) img {
    transform: scale(-1);
}

main section .arrows button {
    top: 60%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

main section .arrows button img {
    width: 30px;
    margin-top: 4px;
    cursor: pointer;
}

main section .arrows button:hover {
    background-color: #beff1b;
}

main section .indicators {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
}

main section .indicators .number {
    font-size: 5em;
    font-family: "League Gothic", sans-serif;
}

main section .indicators ul {
    display: flex;
    gap: 10px;
}

main section .indicators ul li {
    width: 50px;
    height: 5px;
    background-color: #beff1b;
    border-radius: 5px;
    transition: 0.5s;
}

main section .indicators ul .active {
    background-color: #fff;
}

section .list .item {
    --calculation: 1;
    transform: translateX(calc(100vw * var(--calculation)));
    transition: 0.5s;
}

section .list .item .car-img img {
    transform: rotate(0);
    transition: 0.5s;
    transition-delay: 0.3s;
}

section .list .item .content .car-information,
section .list .item .content h2,
section .list .item .content .description,
section .list .item .content .information {
    transform: translateX(calc(200px * var(--calculation)));
    transition: 0.7s;
    transition-delay: 0.3s;
    opacity: 0;
}

section .list .item .content h2 {
    transition-delay: 0.5s;
}

section .list .item .content .description {
    transition-delay: 0.7s;
}

section .list .item .content .information {
    transition-delay: 0.9s;
}

section .list .active {
    transform: translateX(0);
    transition: 0.5s;
    opacity: 1;
}

section .list .active .car-img img {
    transform: rotate(-20deg);
}

section .list .active .content .car-information,
section .list .active .content h2,
section .list .active .content .description,
section .list .active .content .information {
    transform: translateX(0);
    opacity: 1;
}

@media (max-width: 1200px) {
    header {
        width: 100vw;
        grid-template-columns: 1fr;
        gap: 0;
    }

    header nav ul {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    main section .list {
        width: 100vw;
    }

    main section .list .item .car-img {
        width: 100%;
    }

    main section .list .item .content {
        right: 50px;
        width: 100%;
    }

    main section .arrows {
        width: 100vw;
    }

    main section .indicators {
        width: 100vw;
    }

    section .list .item .content .car-information,
    section .list .item .content h2,
    section .list .item .content .description,
    section .list .item .content .information {
        transform: translateX(0);
    }
}